* {
    box-sizing: border-box;
}

.formulario {
    width: 800px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 5px 0.5px #011627;
    position: relative;
    font-size: 'Roboto', sans-serif;
    border-radius: 10px;
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: #2ec4b6;
}

.formulario__input,
.formulario__label,
.formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario__input {
    padding: 20px;
    background: rgba(1, 22, 39, 0.1);
    border: 0.3px solid #fdfffc;
    margin-bottom: 40px;
}

.formulario__input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);
}

.formulario__input:focus+.formulario__label {
    margin-top: -130px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.formulario__submit {
    background: #2ec4b6;
    color: #fdfffc;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 2em;
}

.fijar {
    margin-top: -135px;
}

.rs {
    font-size: 30px;
    background-color: #011627;
    color: #fdfffc;
    width: 803px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.imgsli {
    width: 50px;
}

.lista1 {
    list-style: none;
}

.licositas {
    margin-bottom: 5px;
}