* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1436px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fdfffc;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: #011627;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #2ec4b6;
}

.seccion-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.experience {
    background-color: #2ec4b6;
    color: #fdfffc;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    border-radius: 10px;
    width: 500px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.ex1 {
    padding: 10px 0px 20px 10px;
    font-size: 30px;
    flex-direction: row;
    align-self: baseline;
    font-style: italic;
}

.loco {
    display: inline;
}

.imgs {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#que {
    width: 100px;
    height: 69.89px;
    margin-left: 10px;
}

.titulitoabout {
    font-family: 'Roboto', sans-serif;
    background-color: #011627;
    color: #fdfffc;
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 36px;
    justify-content: center;
    border-radius: 10px;
    padding-top: 10px;
}

.items {
    font-size: 24px;
}

.respuestas {
    font-size: 18px;
}

.rs {
    font-size: 30px;
    background-color: #fdfffc;
    color: #011627;
    height: 400px;
    margin: auto;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nom {
    position: relative;
    top: -115px;
    font-size: 36px;
}

#foticomia {
    width: 220px;
    margin-right: 20px;
    margin-top: -20px;
}

.lista3 {
    list-style: none;
}

.licosas {
    margin-bottom: 50px;
    font-size: 30px;
}

.licosas2 {
    margin-bottom: 55px;
    font-size: 26px;
}

.hrcosa {
    margin-top: -100px;
}